@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

html, body, h1, input, span{
    margin: 0; padding: 0;
}
a{
    text-decoration: none;
    color: #000;
    font-size: 14px; font-weight: 700;
}
.hidden{
    overflow: hidden;
    text-indent: -999px;
}


body{
    font-family: 'Jua', sans-serif;
    width: 100%;
    height: 100vh;
    background: url(https://mud-kage.kakao.com/dn/bqHGZF/btqr070Wh4l/gVVS42D25sSwYjbUVkYgy1/image.jpg)
                no-repeat
                center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#errorWrap{
    width: 630px;
    height: 500px;
    border:6px solid aliceblue;
    background-color: rgba(185, 185, 185, 0.521);
}

#errorWrap h1{
    height: 50px;
    text-align: center;
    padding: 20px 0;
    
}

ul{margin: 0; padding: 0; height: 450px;}
li{
    font-weight: 700;
    margin-left: 50px;
    font-size: 23px;
}

#home{
    display: block;
	width: 380px;
	margin: 26px auto;
	height: 50px;
	line-height: 55px;
	text-align: center;
    border: none;
    border-radius: 8px;
    font-weight: 700; font-size: 17px;
    color: #fff;
    background-color: #3274dd;
    cursor: pointer;
    box-sizing: border-box;
}